/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Start of my CSS*/
html {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#home-body {
    background-image: url("images/field.jpg");
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 4em;
    display: block;
    padding: 10px;
}
.navbar {
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}
.navbar ul {
    display: flex;
    justify-content: space-evenly;
}
.navbar ul li {
    width: 25%;
    text-align: center;
}
.navbar ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 2em;
    transition: color .5s;
}
.navbar ul li a:hover {
    color: #999;
}
.byu-field {
    width: 100%;
}
.page-content {
    text-align: center;
    background-color: black;
    width: 75%;
    margin: 20px;
    border: white 2px solid;
    border-radius: 25px;
    color: white;
}
.page-content h2 {
    font-size: 4em;
    margin: 50px;
}
.page-content p {
    font-size: 1.5em;
    margin: 10px;
}
main {
    display: flex;
    justify-content: center;
}

.reason-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px auto ;
}

.reason-column div {
    width: 100%;
    height: fit-content;
    display: block;
}

.reason-column div p {
    font-size: 1.2em;
}

.reason-column div h3 {
    font-size: 2em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

.footer p {
    text-align: center;
    padding: 10px;
    background-color: black;
}