/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS for the banner at the top*/
.banner {
    display: grid;
    height: fit-content;
    background-color: #3E588D;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 50% 25%;
    color: #FFFEB8;
    font-family: "Times New Roman", Times, serif;
}
.banner h1 {
    grid-column: 2 / 3;
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 0;
    font-size: 3em;
    font-weight: 100;
    height: 55px;
}

.banner div h3 {
    margin: 0 10px;
    padding: 0;
    font-size: 2em;
    font-weight: 100;
}

.banner div {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: end;
}

html, body {
    margin: 0;
    padding: 0;
}

/*CSS for the navigation bar*/
.nav {
    background-color: #2F436B;
}
.nav ul {
    display: flex;
    justify-content: space-evenly;
}
.nav ul li {
    margin: 10px 0;
    width: 30%;
    text-align: center;
}
.nav ul li a {
    font-size: 2em;
    transition: color .5s;
}
.nav ul li a:hover {
    color: #858463;
}
a {
    color: #FFFEB8;
    text-decoration: none;
}
a:hover {
    color: #FFFEB8;
    text-decoration: none;
}
a:visited {
    color: #FFFEB8;
    text-decoration: none;
}
/*Home page CSS*/
.front-main {
    margin: 30px 0 0 0;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
}
.front-main section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    text-align: center;
}

.front-main section h2 {
    font-size: 4em;
    width: 90%;
    text-align: center;
    line-height: 125%;
}

.front-main section a {
    background-color: #2F436B;
    padding: 30px;
    font-size: 3em;
    border-radius: 30px;
    transition: padding .5s;
}

.front-main section a:hover {
    padding: 35px;
}

.front-main section p {
    font-size: 2.5em;
    width: 85%;
}

.right-border {
    border-right: black solid 2px;
}
/*Prosper page CSS*/
.page-header {
    margin: 20px;
    text-align: center;
    font-size: 3em;
}
.subheader {
    margin: 20px;
    text-align: center;
    font-size: 2em;
}
.prosper-table {
    width: 100%;
    text-align: center;
}
.prosper-table tr {
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}
.prosper-table tr td {
    padding: 50px 30px;
    font-size: 2em;
    border-right: black solid 2px;
    width: 33.33%;
}
.prosper-table tr td[colspan="2"] {
    font-size: 1.5em;
    padding: 0;
    width: 66.66%;
    vertical-align: middle;
}
/*Lens CSS*/
